* {
  margin: 0;
  padding: 0;
}

.privacyPage {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  padding: 45px 16px 0 33px;
  background: #FBF9F7;
  font-family: sans-serif;
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;

  h2 {
    margin-left: 25%;
    font-size: 20px;
  }
}

.backArrow {
  font-size: 20px;
  cursor: pointer;
}

.content {
  font-size: 14px;
  line-height: 1.6;
  color: #222;
}

.content h4 {
  //margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
}

.content ul {
  padding-left: 20px;
  margin: 8px 0;
}

.content ul li {
  margin-bottom: 4px;
}
