
.section-title {
  font-size: 20px;
  margin: 24px 0 24px;
  font-weight: bold;
}

.home-screen-content {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.home-screen {
  height: 100vh;
  padding-bottom: 80px;
}