$border-color: #ddd;
$primary-color: #FE5E00;
$font-family: Noto Sans;

.container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.containerTitle {
  font-size: 20px;
  font-family: $font-family;
  font-weight: 600;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.itemContent {
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 #ccccccc4;
  padding: 0 10px;
  cursor: pointer;

  &.selected {
    box-shadow: 0 5px 29px 0 rgb(255 135 65 / 55%);
  }
}

.itemText {
  font-size: 15px;
  font-family: $font-family;
}

.itemImg {

}