$border-color: #ddd;
$primary-color: #FE5E00;
$font-family: Noto Sans;

.height-picker {
  text-align: center;
  font-family: sans-serif;
  padding: 20px;

  .title {
    font-weight: 600;
  }

  .unit-toggle {
    display: inline-flex;
    background: #eee;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 150px;

    button {
      border: none;
      padding: 8px 16px;
      background: transparent;
      cursor: pointer;
      font-weight: bold;
      color: #333;
      width: 50%;

      &.active {
        background: $primary-color;
        color: white;
      }
    }
  }

  .ruler {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .markings {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 67px;
      width: 50%;

      .mark {
        font-size: 20px;
        font-weight: 600;
        color: #999;

        span {
          font-size: 14px;
          margin-left: 2px;
        }

        &.current {
          font-size: 60px;
          color: $primary-color;
        }
      }
    }


  }
}

.lines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  gap: 3px;
  align-items: flex-end;

  .line {
    height: 2px;
    background: #333;
    margin: 2px 0;

    &.small {
      width: 20px;
    }

    &.medium {
      width: 35px;
    }

    &.large {
      width: 60px;
    }
  }
}