.screen {
  font-family: sans-serif;
  background: #fffaf6;
  padding: 16px 20px;
  //height: 93vh;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 18px;

    .icon {
      font-size: 27px;
      color: #ff7a00;
    }
  }

  .bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: #fff;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    height: 45px;
    align-items: center;
    border-top: 1px solid #eee;
    box-shadow: 0 1px 15px 2px #3335331A;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;

    .nav-btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 12px;
      color: #999;
      background: none;
      border: none;
      outline: none;

      svg {
        font-size: 20px;
        margin-bottom: 2px;
      }

      &.active {
        color: #ff7a00;
      }
    }
  }
}